.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-button .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
    background-color: var( --e-global-color-accent);
}

.elementor-widget-divider {
    --divider-color: var( --e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var( --e-global-color-secondary);
    border-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-widget-image-box .elementor-image-box-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-image-box .elementor-image-box-description {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-icon-box .elementor-icon-box-description {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-star-rating .elementor-star-rating__title {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-image-gallery .gallery-item .gallery-caption {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-widget-icon-list .elementor-icon-list-item,
.elementor-widget-icon-list .elementor-icon-list-item a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-counter .elementor-counter-number-wrapper {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-counter .elementor-counter-title {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-progress .elementor-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-testimonial .elementor-testimonial-content {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-testimonial .elementor-testimonial-name {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-testimonial .elementor-testimonial-job {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-tabs .elementor-tab-title,
.elementor-widget-tabs .elementor-tab-title a {
    color: var( --e-global-color-primary);
}

.elementor-widget-tabs .elementor-tab-title.elementor-active,
.elementor-widget-tabs .elementor-tab-title.elementor-active a {
    color: var( --e-global-color-accent);
}

.elementor-widget-tabs .elementor-tab-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-tabs .elementor-tab-content {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-accordion .elementor-accordion-icon,
.elementor-widget-accordion .elementor-accordion-title {
    color: var( --e-global-color-primary);
}

.elementor-widget-accordion .elementor-active .elementor-accordion-icon,
.elementor-widget-accordion .elementor-active .elementor-accordion-title {
    color: var( --e-global-color-accent);
}

.elementor-widget-accordion .elementor-accordion-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-accordion .elementor-tab-content {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-toggle .elementor-toggle-title,
.elementor-widget-toggle .elementor-toggle-icon {
    color: var( --e-global-color-primary);
}

.elementor-widget-toggle .elementor-tab-title.elementor-active a,
.elementor-widget-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: var( --e-global-color-accent);
}

.elementor-widget-toggle .elementor-toggle-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-toggle .elementor-tab-content {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-alert .elementor-alert-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-alert .elementor-alert-description {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-frel-about-with-rating .left_part h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .left_part h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .left_part p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .top_section {
    background-color: var( --e-global-color-primary);
    border-bottom-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .bottom_section {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .badge_holder {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .badge_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .badge_holder .year {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .badge_holder .text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .rating_holder {
    background-color: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .r_header {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .r_footer:after {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .r_footer:before {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .r_header:before {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .r_header:after {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating h3.rating_number {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating h3.rating_text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .bottom_section .icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about-with-rating .bottom_section p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about .leftpart h3.title {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about .leftpart h3.title:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-about .leftpart p.desc {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about .leftpart h3.name {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about .leftpart p.occ {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-about .rightpart .border .span1:after,
.elementor-widget-frel-about .rightpart .border .span1:before,
.elementor-widget-frel-about .rightpart .border .span2:after,
.elementor-widget-frel-about .rightpart .border .span2:before {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-accordion .fn_cs_accordion h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-accordion .fn_cs_accordion .acc_head p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-accordion .fn_cs_accordion .plus:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-accordion .fn_cs_accordion .plus:before {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-accordion .fn_cs_accordion .plus {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-accordion .fn_cs_accordion .acc_content p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .owl_control span.a {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .owl_control span.b {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .owl_control>div:after {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .owl_control>div>span:hover:after {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .owl_control>div>span:hover:before {
    border-top-color: var( --e-global-color-primary);
    border-right-color: var( --e-global-color-primary);
    border-bottom-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha[data-nav-types="square"] .owl_control>div>span:before,
.elementor-widget-frel-alpha-slider .industify_slider_alpha[data-nav-types="square"] .owl_control>div>span:after {
    background: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha[data-nav-types="square"] .owl_control>div>span .c:before,
.elementor-widget-frel-alpha-slider .industify_slider_alpha[data-nav-types="square"] .owl_control>div>span .c:after {
    background: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .owl_control>div {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .item .title_holder p {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder p a:hover {
    border-bottom-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder h3 a {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder h3:hover a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder h3:hover {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .item .title_holder .desc {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .title_holder .desc {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .swiper-pagination-progressbar {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-alpha-slider .industify_slider_alpha .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-arrow-link a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-arrow-link a svg {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-bottom-line p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-bottom-line .inner {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-button a {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-button a:hover {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-call-to-action h3 {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-call-to-action p {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-call-to-action a {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-call-to-action .fn_cs_call_to_action {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-call-to-action a:hover {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-check-list .fn_cs_check_list h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-check-list .fn_cs_check_list p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-check-list .fn_cs_check_list svg {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-check-list .fn_cs_check_list img {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .fn_cs_counter_with_content:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .fn_cs_counter_with_content:before,
.elementor-widget-frel-counter-with-content .rightpart:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .leftpart h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .leftpart p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .rightpart h5 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .rightpart h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .rightpart p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-content .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .fn_cs_counter_with_rating:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .leftpart h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .leftpart p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .o_image:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .content_holder h5 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .content_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .content_holder h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .content_holder p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .rightpart:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .rightpart:before {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .rating_holder:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .rating_holder .r_footer:before {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .rating_holder .r_footer:after {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating .rating_holder {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating h3.rating_number {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-counter-with-rating h3.rating_text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-description p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-experience .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-experience .badge_holder {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-experience .title h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-experience .desc span.year {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-experience .desc span.text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-experience .list span {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-experience .list span:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .top_bar {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .t_inner h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .t_inner span {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .owl_control div {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .owl_control .fn_prev:after {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .owl_control .fn_next:after {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .service_part .item .img_holder:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .service_part .item .title h3 a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .service_part .item .title h3 a:hover {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .service_part .item .view_more a {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-full-custom-list .service_part .item .view_more a:hover {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .content_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .content_holder h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .content_holder p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .video .text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .video .icon {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .video .icon:after {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header-modern .video .icon:before {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .content_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .content_holder h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .content_holder p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header a.discover {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header a.discover:hover {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .video .text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .video .icon {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .video .icon:after {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-hero-header .video .icon:before {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-list .fn_cs_info_list.full {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-list .fn_cs_info_list.contained .list {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-list .fn_cs_info_list h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-list .fn_cs_info_list p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-list .fn_cs_info_list svg {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-list .fn_cs_info_list .icon {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .left_part {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .left_part:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .left_part:before {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .left_part h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .left_part p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .l_video .text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .l_video .icon {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .l_video .text:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .m_in {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .rating_holder {
    background-color: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .r_header {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .r_footer:before {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .r_footer:after {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .r_header:before {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .r_header:after {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part h3.rating_number {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part h3.rating_text {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .tagline_holder span {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-info-rating .middle_part .tagline_holder span:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .wing12 {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .wing11 {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .wing22 {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .wing21 {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .title_holder h5 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .title_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .title_holder h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .title_holder p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .badge_holder {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .badge_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .badge_holder .year {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .badge_holder span:not(.year) {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .fn_cs_introduce span.video {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .fn_cs_introduce span.video span:before {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-introduce .fn_cs_introduce span.video:before,
.elementor-widget-frel-introduce .fn_cs_introduce span.video:after {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-location-list .fn_cs_location_list .title_holder {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-location-list .fn_cs_location_list h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-location-list .fn_cs_location_list .icon {
    background-color: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-location-list .fn_cs_location_list .shape {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-location-list .fn_cs_location_list .content_holder {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-location-list .fn_cs_location_list p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-location-list .fn_cs_location_list a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-slider-with-content .o_color {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-slider-with-content .title_holder h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-slider-with-content .title_holder p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-slider-with-content .swiper_controller div {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-slider-with-content .swiper_controller .fn_next:after {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-slider-with-content .swiper_controller .fn_prev:after {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-slider-with-content .swiper_pagination>span {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-title h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-title h3 span {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-main-title h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .fn_cs_principles_modern:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .inner {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .inner:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .inner:before {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .shape span.shape1 {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .shape span.shape2 {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .item {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .number_holder {
    background-color: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .number_holder:after {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .item h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .item p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles-modern .item a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles .left_part h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles .left_part h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles .left_part p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles li .title_holder:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles li .item:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles li .title_holder:before {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles li .item:before {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles .item .title_holder {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles .right_part h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles .right_part p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-principles .number_holder {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .right_part {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .right_part .title_holder {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .right_part .title_holder h3 a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .right_part .title_holder h3 a:hover {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .right_part .title_holder p a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .right_part .title_holder p {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .right_part .title_holder p:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .left_part h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .left_part h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .left_part p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .left_part a {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-full .left_part a:hover {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .title_holder h3 a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .title_holder p a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .item:hover .title_holder p a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .item:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .img_holder a {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .item:hover .img_holder a {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .img_holder a:before {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .right_part .img_holder a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .left_part_in {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .left_part h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .left_part h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .left_part p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .left_part a {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky-modern .left_part a:hover {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .title_holder h3 a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .title_holder p a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .item:hover .title_holder p a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .item:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .img_holder a {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .item:hover .img_holder a {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .img_holder a:before {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .right_part .img_holder a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .left_part h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .left_part h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .left_part p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .left_part a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-project-sticky .left_part a svg {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .top_bar {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .t_inner h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .t_inner span {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .owl_control div {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .owl_control .fn_prev:after {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .owl_control .fn_next:after {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .service_part .item .img_holder:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .service_part .item .title h3 a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .service_part .item .title h3 a:hover {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .service_part .item .view_more a {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-service-query .service_part .item .view_more a:hover {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services-classic span.bg1 {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services-classic span.bg2 {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services-classic .arrow {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services-classic .icon {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services-classic h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services-classic p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services-classic span.more_details a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services span.bg1 {
    background-color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services .icon {
    background-color: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services .icon span:after {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services .icon:after {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services .icon:before {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services span.bg2 {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-services .item:hover h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services .item:hover p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-services .arrow {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-single-testimonial p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-single-testimonial h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-single-testimonial h5 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-single-testimonial .inner {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-single-testimonial svg,
.elementor-widget-frel-single-testimonial img {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .desc p {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .bottom_section .link_block a {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .bottom_section .tfree_block p {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .support_block {
    background-color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .bottom_section .link_block a:hover {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .bottom_section div:nth-child(2):after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .icon {
    background-color: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .icon span:after {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .icon:after {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .icon:before {
    border-left-color: var( --e-global-color-primary);
}

.elementor-widget-frel-support-block .img_wrap span {
    border-right-color: var( --e-global-color-primary);
}

.elementor-widget-frel-team-member .fn_cs_team_member .title_holder h3 {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-team-member .fn_cs_team_member .title_holder span {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-team-member .fn_cs_team_member .img_holder .social_list {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-team-member .fn_cs_team_member .img_holder .social_list ul li a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-team-member .fn_cs_team_member .img_holder .social_list ul li a:hover {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .time span:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .time span:before {
    border-top-color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .time h3 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .time h5 {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .time h3:after {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .title_holder p.t_header {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern p.t_header a {
    color: var( --e-global-color-primary);
    border-bottom-color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .title_holder h3 a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern .title_holder h3 a:hover {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern p.t_footer a.bg {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern p.t_footer a.bg:hover {
    color: var( --e-global-color-primary);
    background-color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog-modern p.t_footer a.arr {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog .title_holder h3 a {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog .title_holder h3 a:hover {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog .title_holder p {
    color: var( --e-global-color-primary);
}

.elementor-widget-frel-triple-blog a.icon {
    color: var( --e-global-color-primary);
}

.elementor-widget-text-path {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}