.elementor-1380 .elementor-element.elementor-element-7e1aae3c {
    margin-top: 0px;
    margin-bottom: 57px;
}

.elementor-1380 .elementor-element.elementor-element-37f33f50>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .o_color {
    background-color: #28317c;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .o_image {
    background-position: default;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .wing12 {
    border-right-color: rgba(255, 255, 255, 0.2);
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .wing11 {
    border-left-color: rgba(255, 255, 255, 0.2);
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .wing22 {
    border-top-color: rgba(8, 18, 37, 0.2);
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .wing21 {
    border-top-color: rgba(8, 18, 37, 0.2);
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .title_holder h5 {
    color: #fff;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .title_holder h3 {
    color: #eee;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .title_holder h3:after {
    background-color: #d2ab67;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .title_holder p {
    color: #ccc;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .badge_holder {
    border-color: #d2ab67;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .badge_holder h3 {
    color: #fff;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .badge_holder .year {
    color: #fff;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .badge_holder span:not(.year) {
    color: #d2ab67;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .fn_cs_introduce span.video {
    background-color: #d2ab67;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .fn_cs_introduce span.video span:before {
    border-color: #d2ab67;
}

.elementor-1380 .elementor-element.elementor-element-210eac77 .fn_cs_introduce span.video:before,
.elementor-1380 .elementor-element.elementor-element-210eac77 .fn_cs_introduce span.video:after {
    border-left-color: #fff;
}

.elementor-1380 .elementor-element.elementor-element-1fb71fa4>.elementor-container {
    max-width: 1250px;
}

.elementor-1380 .elementor-element.elementor-element-79243216>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1380 .elementor-element.elementor-element-79243216>.elementor-element-populated {
    padding: 0px 40px 0px 40px;
}

.elementor-1380 .elementor-element.elementor-element-6513a08 .elementor-heading-title {
    color: #14141c;
    font-family: "Rubik", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-1380 .elementor-element.elementor-element-6513a08>.elementor-widget-container {
    margin: 0px 0px 19px 0px;
}

.elementor-1380 .elementor-element.elementor-element-36251b7f {
    color: #666666;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.elementor-1380 .elementor-element.elementor-element-36251b7f>.elementor-widget-container {
    margin: 0px 0px 60px 0px;
}

.elementor-1380 .elementor-element.elementor-element-7ddf40c4 .elementor-heading-title {
    color: #14141c;
    font-family: "Rubik", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-1380 .elementor-element.elementor-element-7ddf40c4>.elementor-widget-container {
    margin: 0px 0px 19px 0px;
}

.elementor-1380 .elementor-element.elementor-element-27c4fd79 {
    color: #666666;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.elementor-1380 .elementor-element.elementor-element-27c4fd79>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1380 .elementor-element.elementor-element-63cb63e9>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1380 .elementor-element.elementor-element-63cb63e9:not(.elementor-motion-effects-element-type-background),
.elementor-1380 .elementor-element.elementor-element-63cb63e9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(242, 243, 245, 0.26);
}

.elementor-1380 .elementor-element.elementor-element-63cb63e9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 92px;
    margin-bottom: 92px;
    padding: 100px 0px 100px 0px;
}

.elementor-1380 .elementor-element.elementor-element-63cb63e9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-7dee990f {
    padding: 20px 0px 0px 0px;
}

.elementor-1380 .elementor-element.elementor-element-23971371>.elementor-element-populated {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #28317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 45px 45px 45px 45px;
}

.elementor-1380 .elementor-element.elementor-element-23971371>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-23971371>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-23971371>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-23971371>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-126972be {
    text-align: left;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-4eee9205>.elementor-element-populated {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #2a317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 45px 45px 45px 45px;
}

.elementor-1380 .elementor-element.elementor-element-4eee9205>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-4eee9205>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-4eee9205>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-4eee9205>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-2f043b57 {
    text-align: left;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-75241cd7>.elementor-element-populated {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #2a317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 45px 45px 45px 45px;
}

.elementor-1380 .elementor-element.elementor-element-75241cd7>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-75241cd7>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-75241cd7>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-75241cd7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-60280d1b {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-5aadc68a>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1380 .elementor-element.elementor-element-5aadc68a:not(.elementor-motion-effects-element-type-background),
.elementor-1380 .elementor-element.elementor-element-5aadc68a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(242, 243, 245, 0.26);
}

.elementor-1380 .elementor-element.elementor-element-5aadc68a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 42px;
    margin-bottom: 42px;
    padding: 100px 0px 100px 0px;
}

.elementor-1380 .elementor-element.elementor-element-5aadc68a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-445f0878 .elementor-heading-title {
    color: #14141c;
    font-family: "Rubik", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-1380 .elementor-element.elementor-element-445f0878>.elementor-widget-container {
    margin: 0px 0px 19px 0px;
}

.elementor-1380 .elementor-element.elementor-element-12a4edea {
    padding: 20px 0px 0px 0px;
}

.elementor-1380 .elementor-element.elementor-element-6a62f068>.elementor-element-populated {
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: #2a317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}

.elementor-1380 .elementor-element.elementor-element-6a62f068>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-6a62f068>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-6a62f068>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-6a62f068>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-7491e8f {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-3ffb6608>.elementor-element-populated {
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: #2a317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}

.elementor-1380 .elementor-element.elementor-element-3ffb6608>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-3ffb6608>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-3ffb6608>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-3ffb6608>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-207010a {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-79f4d0fb>.elementor-element-populated {
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: #2a317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}

.elementor-1380 .elementor-element.elementor-element-79f4d0fb>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-79f4d0fb>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-79f4d0fb>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-79f4d0fb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-58fc3657 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-482cc16a>.elementor-element-populated {
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: #2a317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}

.elementor-1380 .elementor-element.elementor-element-482cc16a>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-482cc16a>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-482cc16a>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-482cc16a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-3e3e3f42 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-399f1a13>.elementor-element-populated {
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: #2a317c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}

.elementor-1380 .elementor-element.elementor-element-399f1a13>.elementor-element-populated,
.elementor-1380 .elementor-element.elementor-element-399f1a13>.elementor-element-populated>.elementor-background-overlay,
.elementor-1380 .elementor-element.elementor-element-399f1a13>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1380 .elementor-element.elementor-element-399f1a13>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-72ed0cb6 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-e359546>.elementor-container {
    max-width: 1600px;
}

.elementor-1380 .elementor-element.elementor-element-e359546>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1380 .elementor-element.elementor-element-e359546:not(.elementor-motion-effects-element-type-background),
.elementor-1380 .elementor-element.elementor-element-e359546>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(242, 243, 245, 0.26);
}

.elementor-1380 .elementor-element.elementor-element-e359546 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 42px;
    margin-bottom: 42px;
    padding: 100px 0px 100px 0px;
}

.elementor-1380 .elementor-element.elementor-element-e359546>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-516954c .elementor-heading-title {
    color: #14141c;
    font-family: "Rubik", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-1380 .elementor-element.elementor-element-516954c>.elementor-widget-container {
    margin: 0px 0px 19px 0px;
}

.elementor-1380 .elementor-element.elementor-element-de06aa9 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-9a36e0b {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-417ff37 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-a31ac5b {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-ca058a5 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-1380 .elementor-element.elementor-element-30ac322e>.elementor-container {
    max-width: 1116px;
    min-height: 400px;
}

.elementor-1380 .elementor-element.elementor-element-30ac322e:not(.elementor-motion-effects-element-type-background),
.elementor-1380 .elementor-element.elementor-element-30ac322e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00054a;
}

.elementor-1380 .elementor-element.elementor-element-30ac322e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-30ac322e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-9fdb9da .title_holder {
    max-width: 400px;
}

.elementor-1380 .elementor-element.elementor-element-9fdb9da h3 {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-9fdb9da h3 span {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-9fdb9da h3:after {
    background-color: #d0a967;
}

.elementor-1380 .elementor-element.elementor-element-40adae58 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-1380 .elementor-element.elementor-element-1630ac0c .title_holder {
    max-width: 402px;
}

.elementor-1380 .elementor-element.elementor-element-1630ac0c h3 {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-1630ac0c h3 span {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-1630ac0c h3:after {
    background-color: #d0a967;
}

.elementor-1380 .elementor-element.elementor-element-3fe8c8db {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-1380 .elementor-element.elementor-element-7548e984 .title_holder {
    max-width: 402px;
}

.elementor-1380 .elementor-element.elementor-element-7548e984 h3 {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-7548e984 h3 span {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-7548e984 h3:after {
    background-color: #d0a967;
}

.elementor-1380 .elementor-element.elementor-element-2a15b8a9 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-1380 .elementor-element.elementor-element-764313f6 .title_holder {
    max-width: 402px;
}

.elementor-1380 .elementor-element.elementor-element-764313f6 h3 {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-764313f6 h3 span {
    color: #ffffff;
}

.elementor-1380 .elementor-element.elementor-element-764313f6 h3:after {
    background-color: #d0a967;
}

.elementor-1380 .elementor-element.elementor-element-6c70e04 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

@media(min-width:768px) {
    .elementor-1380 .elementor-element.elementor-element-6a62f068 {
        width: 20%;
    }
    .elementor-1380 .elementor-element.elementor-element-3ffb6608 {
        width: 20%;
    }
}

@media(max-width:1024px) {
    .elementor-1380 .elementor-element.elementor-element-79243216>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-63cb63e9 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-23971371>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-126972be {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-4eee9205>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-2f043b57 {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-75241cd7>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-60280d1b {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-5aadc68a {
        padding: 100px 25px 100px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-6a62f068>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-7491e8f {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-3ffb6608>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-207010a {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-79f4d0fb>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-58fc3657 {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-482cc16a>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-3e3e3f42 {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-399f1a13>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-72ed0cb6 {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-e359546 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-de06aa9 {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-9a36e0b {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-417ff37 {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-a31ac5b {
        font-size: 14px;
    }
    .elementor-1380 .elementor-element.elementor-element-ca058a5 {
        font-size: 14px;
    }
}

@media(max-width:767px) {
    .elementor-1380 .elementor-element.elementor-element-79243216>.elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }
    .elementor-1380 .elementor-element.elementor-element-63cb63e9 {
        padding: 50px 20px 50px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-23971371>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-4eee9205>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-75241cd7>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-5aadc68a {
        padding: 50px 20px 50px 20px;
    }
    .elementor-1380 .elementor-element.elementor-element-6a62f068>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-3ffb6608>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-79f4d0fb>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-482cc16a>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-399f1a13>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 25px 25px 25px 25px;
    }
    .elementor-1380 .elementor-element.elementor-element-e359546 {
        padding: 50px 20px 50px 20px;
    }
}